body {
    font-family: 'PT Sans', sans-serif;
    background-color: antiquewhite;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-item {
    display: inline-flex;
}

#banner-header {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 25px;
    color: #fff;
}